﻿@model Argus.Models.Login
@{
    ViewBag.Title = ViewBag.P_SiteName;
    ViewBag.Description = ViewBag.P_Description;
    ViewBag.Keywords = ViewBag.P_KeyWord;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" style="text-align:center;padding:20px">
    <h2 style="color:#c6c6c6;font-family:Arial;font-size:16px;font-weight:bold">Please Enter Administrator Passwrd :</h2>
    <form class="form-inline" action="@Url.Action("Index","Argus")" method="post">
        <div class="form-group">
            <label class="sr-only" for="email">Email:</label>
            <input type="password" class="form-control" placeholder="Enter Password ..." id="Password" name="Password">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:20px">Login to Argus</button>
    </form>
    <div>
        @if (ViewBag.ErrorLabel != "") { <label style="color:#d78484">@ViewBag.ErrorLabel</label> }
    </div>
</div>