﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Pre Define -->
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="robots" content="index, follow">
    <!-- Css Class -->
    <link href="~/Layout/assets/css/main2.css" rel="stylesheet" />
    <link href="~/Layout/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body style="background-color:#202024">
    <!-- Responsice Menu -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Argus")"> Argus </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Home","Argus")">Home</a></li>
                    <li><a href="@Url.Action("About","Argus")">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Calculator","Argus")"><span class="btn btn-success">Calculator</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Dynamic -->
    @RenderBody()
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2 style="color:#dbd8d8">WARNING : Disclaimer for Argus</h2>
            <p style="text-align:justify;text-justify:trim;color:#c6c6c6">
                We are doing our best to prepare the content of this site. However, for Argus cannot warranty the expressions and suggestions of the contents, as well as its accuracy. In addition, to the extent permitted by the law, for Argus shall not be responsible for any losses and/or damages due to the usage of the information on our website.
                <br>
                The links contained on our website may lead to external sites, which are provided for convenience only. Any information or statements that appeared in these sites are not sponsored, endorsed, or otherwise approved by for Argus. For these external sites, for Argus cannot be held liable for the availability of, or the content located on or through it. Plus, any losses or damages occurred from using these contents or the internet generally.
            </p>
            <ul class="icons" style="margin-top:40px">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright" style="margin-top:40px">
                Developed By Hoogle Group &copy; All right Reserved - @DateTime.Now.Year.ToString()
            </p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Layout/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Layout/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Layout/assets/js/main.js"></script>
    <script src="~/Layout/assets/js/skel.min.js"></script>
    <script src="~/Layout/assets/js/util.js"></script>
</body>
</html>